$container-height: 95vh;
$primary-blue: #0071CD;
$secondary-blue: #89BCE7;
$background-grey: #FAFAFA;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: $container-height * 9 / 16;
  height: $container-height;
  position: absolute;
  left: 0;
  right: 0;
  top: 2.5vh;
  margin: auto;
  background: $background-grey;
  border-radius: 10px;
}

.header {
  height: 16%;
  width: 100%;
  background: $primary-blue;
  border: {
    top: {
      left-radius: 10px;
      right-radius: 10px;
    };
  };
}
.main {
  overflow: auto;
  height: 84%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: {
    bottom: {
      right-radius: 10px;
      left-radius: 10px;
    };
  };
}

.main::-webkit-scrollbar {
  width: 1%;
  border-radius: 2px;
}

.main::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 10px;
}

.main-item-wrapper {
  height: 99%;
  flex: 0 1 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-item {
  flex: 0 1 49%;
  height: 30%;
  margin-bottom: 2%;
  background: white;
  border-radius: 1px;
  box-shadow: 0 1px 5px grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.avatar {
  width: 53%;
  height: 55%;
  border-radius: 50%;
  align-self: center;
}

.caption {
  margin: {
    left: 5%;
    top: 7%;
    bottom: 5%;
  };
  p:first-child {
    font-weight: bold;
  }
  p:last-child {
    color: grey;
    font-size: 12px;
  }
}